/**
 * Light blue: #6DBCDB
 * Dark blue: #2C3E50
 * Gray: #D7DADB
 * White: #FFFFFF
 * Red: #FC4349
 */

a {
  color: #6DBCDB;
  text-decoration: none;

  transition: color 0.2s ease-out;
}

a:hover {
  color: #2C3E50;
}

html, body { margin: 0; padding: 0; height: 100%; }
body {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 1.2em;
}

.primary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  margin: 0;
  text-indent: -9999px;
  height: 128px;

  background: url(/img/mmcc.png);
  background-size: 416px 80px;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background 0.2s ease;

  border-bottom: 4px solid #D7DADB;
}

.logo:hover {
  background: url(/img/mattmcclure.png);
  background-size: 919px 128px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.social-links {
  text-align: center;
}

.social-links ul {
  margin: 0;
  padding: 0;
}

.social-links ul li {
  display: inline-block;
  margin-left: 2em;
}

.social-links ul li:first-child {
  margin-left: 0;
}
